# Hello Clever API (payin proxy)
HELLOCLEVER_APP_ID_IDR=
HELLOCLEVER_APP_ID_VND=
HELLOCLEVER_APP_ID_KRW=
HELLOCLEVER_APP_ID_JPY=
HELLOCLEVER_SECRET_KEY=

# Optional
PORT=3000
HELLOCLEVER_BASE_URL=https://api-merchant.helloclever.co/api/v2
